body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.box {
  width: clamp(100px, 50%, 200px);
  height: 200px;
  background-color: royalblue;
}

.top, 
.bottom {
  height: 100vh;
}

.container-snap {
  width: 120px;
  height: 120px;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.container-snap .card {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.container-snap .card:nth-child(1) {
  background-color: lightsalmon;
}

.container-snap .card:nth-child(2) {
  background-color: lightgreen;
}

.container-snap .card:nth-child(3) {
  background-color: lightblue;
}

.container-snap .card:nth-child(4) {
  background-color: lightcoral;
}

.container-inset {
  position: relative;
  background-color: wheat;
  width: 200px;
  height: 200px;
}

.container-inset .box {
  position: absolute;
  background-color: lightcoral;
  /* rigth: 20px */
  /* bottom: 20px */
  /* left: 20px */
  /* top: 20px */
  inset: 20px;
}

.container-box {
  display: flex;
  flex-direction: column-reverse;
}

.container-box .item {
  width: 40px;
  height: 40px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;

  /* margin-block */
  /* margin-inline */
  padding-inline: 8px;
  padding-block: 16px; 
}

.container-box .item:nth-child(1) { order: 1; }
.container-box .item:nth-child(2) { order: 3; }
.container-box .item:nth-child(3) { order: 2; }
.container-box .item:nth-child(4) { order: 4; }

.container-max {
  /* width: 70% */
  /* min/max-width: 500px */
  width: max(70%, 500px);
}

.text-container {
  font-size: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.div-has:has(p) { background-color: lightcoral; }
.container:has(.div-has) { background-color: lightblue; }

.container-is :is(h2, .text, bottom) {
  color: seagreen;
}

.container{
  width: 500px;
  height: 500px;
  background-color: rebeccapurple;
  clip-path: path("M0.5 73.5V1H20V56H72V73.5H0.5Z");
  transition: all 2s ease;
}

.container:hover{
  clip-path: polygon(0% 50%, 11% 59%, 54% 76%, 81% 48%, 30% 18%);
}

.frame {
  width: 500px;
  height: 500px;
  border: 3px solid rebeccapurple;
  perspective: 200px;
}

.shape {
  width: 500px;
  height: 500px;
  background-color: lightblue;
  transform: rotateY(-30deg);
  transition: all 3s ease;
}

.player {
  width: 100%;
  background-color: black;
  aspect-ratio: 16/9;
}

img {
  filter: saturate(200%);
}

img:active {
  filter: none;
}

input {
  padding: 20px;
  border: 1px solid red;
  caret-color: red;
}

input:focus {
  outline: 1px solid red;
}

input::placeholder {
  color: red;
}

/* .item h1,
  .item h2,
  .item h4,
  .item p{
    color: blue;
  } */

.item :not(h3) {
  color: red;
}

.review:has(button) .content {
  filter: blur(10px);
}

video {
  width: 100%;
  aspect-ratio: 16/9;
}

::cue {
  font-size: 50px;
}
